:root {
  --white: #FFFFFF;
}

.welcome-screen {
  display: grid;
  height: 100vh;
  align-items: center;
  background: var(--white);
}

.welcome-screen img {
  width: 100%;
}

.init-screen {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.init-screen img {
  justify-self: center;
  height: 100px;
  width: 100px;
  margin-top: 1.5em;
}

.init-screen div {
  padding: 0 1em;
}

.lead {
  justify-self: center;
}

.card {
  margin: 0.5em;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.card img {
  margin: 1em;
  max-width: 75px;
  max-height: 75px;
}

p {
  margin: 0;
  margin-bottom: 0;
}

.text-danger {
  font-size: 0.8em;
  color: #dc3545;
}

.text-success {
  font-size: 0.8em;
  color: #28a745;
  font-weight: bold;
}

.bottom label {
  position: absolute;
  right: 1em;
  transform: translateY(-1.5em);
  font-size: 1.5em;
}

.chat-room {
  display: grid;
  grid-template-rows: 1.5fr 10fr 1fr;
  grid-gap: 0.5em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.chat-room .form-group {
  padding: 0 1em;
}

.right {
  display: grid;
  justify-items: end;
}

.right .card {
  background: #28a745;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: right;
}

.left {
  display: grid;
  justify-items: start;
}

.left .card {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: right;
}

.scroll {
  overflow-y: scroll;
  width: 100%;
}

.timestamp {
  font-size: 0.65em;
  color: #E5E5E5;
}

.center {
  justify-self: center;
}

.danger {
  color: #dc3545;
}

.top-0 {
  display: grid;
  margin-top: 0;
  padding-top: 0;
  align-self: center;
}

.col-1-4 {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  align-items: center;
}

.col-1-4 img {
  width: 40px;
  height: 40px;
  margin: 0.5em;
}